@font-face {
    font-family: 'Futura PT Book';
    src: url('./futura-pt/FuturaCyrillicBook.woff');
}


/* General */

:root {
    --default-font: 'Futura PT Book', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif
}

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--default-font);
}

body {
    background-color: #f3f3f3;
    min-height: 100vh;
    line-height: 1.5;
}


.page {
    background-color: #fff;
    width: 95%;
    margin: 0 auto;
    position: relative;
}



@media screen and (max-width: 1200px) {
    .page {
        width: 100%;
    }
}



/* Header */

.header {
    padding-top: 0.1rem;
}

.header ul {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    list-style: none;
}


.header__left #menu-toggled, .header__left .menu-toggled {
    display: none;
}

@media screen and (max-width: 1024px) {
    .header__left .menu-toggled {
        display: flex;
    }
}



.header__left #visible-logo, .header__left #visible-menu {
    cursor: pointer;
    transition: color 0.5s ease-out;
    /* z-index: 5; */
}

.header__left #menu-toggled:checked + li {
    transform: translateY(65%);
}

.header__left .menu {
    font-size: 1.25rem;
    font-weight: 700;
    
}

.header__left .menu p {
    display: inline;
}

.header__left #menu-toggled:checked + li + li, .header__left #menu-toggled:checked + li + li + .menu-toggled {
    z-index: 10;
    color: #fff;
}

@media screen and (min-width: 1024px) {
    .header__left #menu-toggled:checked + li + li {
        color: #000;
    }
}


@media screen and (max-width: 1024px) {
    .header ul > li:nth-child(2) {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
    }
}

.header a, .header span {
    text-decoration: none;
    color: #000;
    font-size: 1.25rem;
    font-weight: 600;
}


/* Dropdown Menu */


.dropdown-menu {
    width: 100vw;
    left: 0;
    top: -9%;
    bottom: 0;
    height: 100%;
    max-height: 1350px;
    position: absolute;
    background-color: blue;
    z-index: 10;
    transform: translateY(-100%);
    /* transform: translateY(100%); */
    overflow: scroll;
    transition: transform 0.5s ease-in-out;
}

@media screen and (max-width: 1024px) {
    .dropdown-menu {
        margin: 0;
        padding: 0;
        display: block;
    }
}

@media screen and (min-width: 1024px) {
    .dropdown-menu {
        display: none;
    }
}


.dropdown-menu ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 0 0 1rem;
}

.dropdown-menu ul a {
    font-size: 1.25rem;
}

.dropdown-menu .sublist {
    padding: 0.6rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.75rem;
}

.dropdown-menu .sublist a {
    font-size: 0.9rem;
    font-weight: 700;
}

.dropdown-menu .last-sublist {
    flex-direction: row;
}

.dropdown-menu .last-sublist li {
    flex: 1;
    text-align: start;
}



.dropdown-menu a {
    color: #fff;
}

.dropdown-menu .current-page {
    color: #ff764d;
}


/* Header again */

@media screen and (max-width: 1280px) {
    .header a {
        font-size: 1rem;
    }

}

.primary__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #f3f3f3;
}


@media screen and (max-width: 1024px) {
    .header__left > ul > :not(:nth-child(-n+4)) {
        display: none;
    }
}


.header__right {
    padding-right: 3rem;
}

@media screen and (max-width: 1024px) {
    .header__right {
        display: none;
    }

}

.header__right .smaller__headings {
    font-size: 1rem;
}

@media screen and (max-width: 1280px) {
    .header__right .smaller__headings {
        font-size: 0.9rem;
    }

}

.secondary__header {
    position: sticky;
}

.secondary__header a {
    font-size: 1rem;
}

#live-free {
    color: blue;
}


#about-header {
    color: #ff764d;
}


/* Hero */

.hero {
    width: 100%;
}

.hero__img-container {
    position: relative;
    margin-left: 8.33333vw;
    margin-right: 8.33333vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    min-height: calc(100vh - 120px);
}

.hero__img-svg {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%,-50%);
}


.hero__section-text {
    width: 100%;
}


/* About Text */

.about__text {
    margin: 12vh auto;
    width: 51%;
    text-align: start;
    line-height: 1.5;
}

.about__text h2 {
    font-size: 1.875rem;
}

.about__text a {
    text-decoration: none;
}

.about__text p {
    font-size: 1.25rem;
}


/* Image Collage #1 */

.image__collage {
    position: relative;
    padding: 8.333vw 0;
    /* margin-bottom: 8.333vw; */
}


.image__collage-container--one {
    position: relative;
    width: 41.6667vw;
    height: 41.6667vw;
    z-index: 1;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    /* margin-left: 2.333vw; */
    display: inline-block;
}

.image__collage-container--two {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: cover;
    width: 33.333vw;
    height: 25vw;
    background-position: 50% 50%;
    z-index: 1;
    margin-left: 8.333vw;
}


.image__collage-background {
    position: absolute;
    background-color: #fbffa7;
    height: 58.3333vw;
    width: 58.3333vw;
    max-width: 933px;
    right: 0;
    top: 0;
    z-index: 0;
}



/* Image Collage #2 */


.second__image-collage {
    width: 100%;
    max-height: 1200px;
    /* position: relative;
    margin-bottom: 8.3333vw; */
}

.second__image-collage {
    position: relative;
    height: 75vw;
}


.second__image-collage-container .image--collage {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
    margin-top: 8.3333vw;
}


.second__image__collage-background {
    position: absolute;
    background-color: #b6ffc0;
    width: 58.3333vw;
    height: 75vw;
    left: 0;
    top: 0;
    z-index: 0;
}

.second__image-collage-container > div:not(:first-child) {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    z-index: 1;
}


.second__image__collage-container--one div {
    width: 33.3333vw;
    height: 25vw;
}


.second__image__collage-container--three {
    width: 41.66667vw;
    height: 41.6667vw;
    margin-left: 8.3333vw;
    z-index: 1;
}


/* Decorative Image */

.decorative__image-container {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 77.5vw;
    min-height: 45.6677vw;
    height: auto;
    margin: 0 auto;
}


/* Image Collage #3 */


.third__image-collage {
    width: 100%;
    max-height: 933px;
}

.third__image-collage-container {
    position: relative;
    height: 58vw;
    width: 100%;
}

.third__image-collage-container-background {
    position: absolute;
    background-color: #d5b3ff;
    top: 0;
    z-index: 0;
    width: 66.6667vw;
    height: 58.3333vw;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.third__image-collage-container--one {
    position: relative;
    width: 33.333vw;
    height: 25vw;
    margin-left: 6.333vw;
    margin-top: 8.333vw;
    vertical-align: middle;
    display: inline-block;
    z-index: 1;
}


.third__image-collage-container--two {
    margin-top: 8.333vw;
    position: relative;
    width: 40.6667vw;
    height: 40.6667vw;
    margin-left: 12.333vw;
    vertical-align: middle;
    display: inline-block;
    z-index: 1;
}


.collage--images {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}



/* Careers */

.careers__section {
    width: 100%;
    margin-bottom: 12vh;
}

.careers__section-container {
    width: 90%;
    margin: 0 auto;
}

.careers__section-image-container {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    width: 41.6667vw;
    height: 41.6667vw;
    display: inline-block;
    vertical-align: top;
}


.careers__section-text-container {
    position: relative;
    width: 41.6667vw;
    height: 41.6667vw;
    display: inline-block;
    vertical-align: top;
    margin-left: 0;
    margin-right: 0;
    background-color: #B1C5FF ;
}


@media screen and (max-width: 1280px) {

    .careers__section-image-container {
        display: block;
        width: 80vw;
        height: 51.6667vw;
        margin: 0 auto;
    }

    .careers__section-text-container {
        display: block;
        width: 80vw;
        margin: 0 auto;
        font-size: 1.5vw;
    }
}

.careers__section-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.55vw;
    font-weight: 700;
}

@media screen and (max-width: 1280px) {
    .careers__section-text {
        width: 85%;
        font-size: clamp(2vw, 0.6rem, 30px);
        margin: 0 auto;
    }

    .careers__section-text a {
        font-size: clamp(2vw, 0.6rem, 30px);
    }
    
}

@media screen and (max-width: 500px) {
    .careers__section-text {
        padding-left: 0;
        padding-right: 0;
    }
    
}




.careers__section-text a {
    text-decoration: none;
}



/* Footer */

.footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #000;
}

.footer h3, p {
    padding: 0;
    margin: 0;
}


.footer__container {
    width: 90%;
    margin: 0 auto;
}


.footer__top {
    margin-bottom: 2.5rem;
}

.footer__top img {
    width: 188px;
}

.footer__middle {
    display: flex;
    flex-wrap: wrap;
    column-gap: 3vw;
    row-gap: 7vh;
    align-items: start;
    font-size: 1.2rem;
}

.footer__middle > div {
    flex: 1 1 500px;
}

@media screen and (max-width: 1110px) {
    .footer__middle {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: start;
        row-gap: 5vh;
    }

    .footer__middle > div {
        flex: auto;
    }
}



.main__footer-list, .education__container, .community__container, .language__and__location-container, .distributors__container {
    max-width: 25%;
}

.main__footer-list-icons {
    display: inline-flex;
    gap: 0.75rem;
    align-items: center;
    max-width: 100%;
}

.newsletter__container {
    max-width: 30%;
}

@media screen and (max-width: 1110px) {
    .newsletter__container {
        max-width: 100%;
        order: -1;
    }
    .newsletter__container input {
        margin-top: 2vh;
    }
}

.newsletter__container input {
    padding: 0.5rem 0.95rem;
    width: 75%;
    background-color: #eee;
    border: transparent;
    font-family: var(--default-font);
    margin-top: 0.5rem;
    
}

@media screen and (max-width: 1110px) {
    .newsletter__container input {
        margin-top: 0;
    }
}

.newsletter__container #submit {
    background-color: blue;
    padding: 0.35em 1.5em;
    border: transparent;
    color: #fff;
    width: 25%;
    border-radius: 0;
    cursor: pointer;
    font-weight: 700;
}


.input__container {
    display: flex;
}

.language__and__location-container {
    max-width: 30%;
}

.language__and__location-container h3 {
    padding-bottom: 2vh;
}

@media screen and (max-width: 1110px) {
    .language__and__location-container {
        max-width: 100%;
    }
}

.language__and__location-container select {
    font-family: var(--default-font);
}

.language__and__location-container #language {
    background-color: #eee;
}



.select-language-location-container {
    display: flex;
    gap: 2.5px;
}

@media screen and (max-width: 1110px) {
    .select-language-location-container {
        flex-direction: column;
    }
}


.select-language-container {
    width: 40%;
}

.select-language-container select, .select-location-container select {
    width: 100%;
    font-weight: 700;
    border: transparent;
    background-color: #eee;
    padding: .35em 50px .35em .75em;
}

.select-language-container option {
    font-weight: 700;
    font-size: 1.1rem;
}

.select-location-container {
    width: 60%;
}

.footer__bottom {
    padding: 7vh 0;
}

.footer__bottom-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 1110px) {
    .footer__bottom-container {
        flex-wrap: nowrap;
        flex-direction: column;
        gap: 5rem;
    }
}

.footer__bottom-left ul, .footer__bottom-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media screen and (max-width: 1110px) {
    .footer__bottom-left ul {
        align-items: start;
        flex-direction: column;
    }
}

.footer__bottom a, .footer__bottom h3 {
    font-size: 0.8rem;
    font-weight: 600;
}